@import 'tailwindcss';

html,*{
    transition: all 0.5s;
    scroll-behavior: smooth;
}
@layer utilities {
    .clip-hex {
      clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }
  }


  
  